
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#fff">
    {% seo %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/css/style.css?v=642407e89c65ba8162b96b643f7ac4c64ad40707">
  </head>
  <body>
    <div class="container-lg px-3 my-5 markdown-body">
      <h1><a href="http://akakanch.com/">hcnak.blog</a></h1>
      <ul style="list-style-type: none;margin: 0;padding: 0;overflow: hidden;">
        <li style="float: left;"></li>
        <li style="float: left;"><a style="display: inline-block;text-align: center;padding: 14px 16px;text-decoration: none;" href="/">home</a></li>
        <li style="float: left;"><a style="display: inline-block;text-align: center;padding: 14px 16px;text-decoration: none;" href="/posts">postings</a></li>
        <li style="float: left;"><a style="display: inline-block;text-align: center;padding: 14px 16px;text-decoration: none;" href="/projects">projects</a></li>
        <li style="float: left;"><a style="display: inline-block;text-align: center;padding: 14px 16px;text-decoration: none;" href="/photos">photos</a></li>
      </ul>
      {{ content }}
      
    </div> 
    <div class="navbar "
    style="text-align:center;width: 100%;display: inline-block;background-color:#5555f6;color:seashell;text-shadow:1px 1px 0 #444">
    &copy; hcnak <br />
    last updated on {{site.time}}
  </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>
    
  </body>
</html>
