
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#fff">
    {% seo %}

    <link rel="stylesheet" href="/assets/css/style.css?v=642407e89c65ba8162b96b643f7ac4c64ad40707">
  </head>
  <body>
    <div class="container-lg px-3 my-5 markdown-body">
      <h1><a href="http://akakanch.com/">kanch.blog</a></h1>
      <ul style="list-style-type: none;margin: 0;padding: 0;overflow: hidden;">
        <li style="float: left;"><a style="display: inline-block;text-align: center;padding: 14px 16px;text-decoration: none;" href="/">home</a></li>
        <li style="float: left;"><a style="display: inline-block;text-align: center;padding: 14px 16px;text-decoration: none;" href="/posts">postings</a></li>
        <li style="float: left;"><a style="display: inline-block;text-align: center;padding: 14px 16px;text-decoration: none;" href="/projects">projects</a></li>
      </ul>
      <p style="font-weight: 500">posted at <span style="font-style:italic;color:coral">{{page.date}}</span></p>
      {{ content }}
      
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>
    
  </body>
</html>
